{% extends 'layout.html' %}

{% block content %}
    <br>
    <h2>Explore Your ClassRoom</h2>
    <p>dataStructProject</p>
    <hr width = "50%" size = "10">
    <!-- <h1>Please login</h1> -->
    <!-- <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <center>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </center> -->
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Data Structure and Algorithum 2564</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More Detail</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Computer Network 2564</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More Detail</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Computer Organized and Assembly language 2564</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More Detail</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Englsih for Professional Purpose 2564</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More Detail</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>All Class Room</h1>
    <ul>
        {% for i in allClass %}
        <li>
            <p>{{i}}</p>
        </li>
        {% endfor %}    
    </ul>
    <h1>Class Room</h1>
    <h2>Number of student in ClassRoom</h2>
    <ul>
        {% for i in allClass %}
            <h3>{{i}}</h3>
            {% if numinClass > 0%}
                <p>Number of student = {{numinClass}}</p>
            {% else %}
                <p>Empty ClassRoom</p>
            {% endif %}
        {% endfor %}
    </ul> -->
    
    
{% endblock %}